.panier,.list img {
    max-width: 100%;
    width: auto;
    height: 250px;
}

.list, .prestation {
    text-align: center;
    border: solid 1px #1abc9c;
    padding-bottom: 20px;
}

.panier .prestation {
    text-align: inherit;

}

.btn-primary {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.montant .btn {
    width: 100px;
    margin-bottom: 10px;
}
.panier .prestation img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 125px;
}

.panier img {
    margin-top: 20px;
}
.panier .prestation {
    min-height: 150px;
}
.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #1abc9c;
}

.fixed-nav-bar a:hover {
    color: #000000;
}

.fixed-nav-bar a {
    color: #FFFFFF;
}

.navbar-right {
    margin-right: 25px;
}

#formulaire{
    margin-right:20%;
}

.note {
    display : inline-block;
}

.rating {

}

.rating a {
    float : right;
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}


